* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, hsla(197, 89%, 72%, 0.523), hsl(209, 99%, 29%));
    font-size: 6rem;
}

.display {
    background-color: #54B4D3;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-success,
.btn-danger {
    width: 47.5%;
}